.planScreen__plans{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 0.8;
}

.planScreen__plans:hover{
    opacity: 1;
}

.planScreen__plans > button{
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.planScreen__plan--disabled > button{
    background-color: gray;
}

.planScreen__renewalDate{
    font-weight: 300;
    opacity: 0.9;
    color: lightgrey;
}


@media only screen and (max-width: 600px) {
    .planScreen__plans{
        display: flex;
        justify-content:left;
    }
    .planScreen__plans {
        display: flex;
        flex-direction: column;
    }.planScreen__plans > button{
        padding: 5px 10px;
        font-size: 0.8rem;
        margin-top: 5%;
        width: 80%;
    }.planScreen__info > h1{
        font-size: large;
    }.planScreen__info > h6{
        font-size:x-small;
    }
    
  }

@media only screen and (max-width: 400px) {
    .planScreen__plans {
        display: flex;
        flex-direction: column;
    }
  }